p{
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
p.directions{
    font-size: 14px;
    font-family: 'Times New Roman';
    color: black;
    background-color: slateblue;
}
p.directions:hover{
    background-color: cornflowerblue;
    color: crimson;
}
h6{
    font-size: 15px;
    font-family: 'Times New Roman';
    color: black;
}
h6.LORD_WINDERMERE{
    color: darkslateblue;   
}
h6.LADY_WINDERMERE{
    color: darkseagreen;
}
h6.PARKER{
    color: darkturquoise;
}
h6.LORD_AUGUSTUS{
    color: indianred;
}
h6.DUCHESS_OF_BERWICK{
    color: lawngreen;
}
h6.CECIL_GRAHAM{
    color: lightpink;
}
h6.LADY_PLYMDALE{
    color: mediumaquamarine;
}
